/* Responsive CSS Styles Table of Contents */

@media only screen and (min-width: 1000px) and (max-width: 1169px){
.container {
	width: 1000px;
	margin: auto;
}

.feature_section2 .box-details {
	width: 93.7%;
}
.feature_section2 .box-details p {
	width: 90%;
	line-height: 18px;
}

.feature_section3 i {
	margin-right: 12px;
}
.feature_section3 .onecol_forty img.two {
	float: right;
	margin-right:-120px;
}



}


@media only screen and (min-width: 768px) and (max-width: 999px){
.container {
	width: 747px;
	margin: auto;
}

.logo {
	width: 50%;
}
.menu_main {
	width: 97%;
	position: absolute;
}

.feature_section2 .box-details {
	width: 94.7%;
}
.feature_section2 .box-details p {
	width: 90%;
	line-height: 18px;
}

.feature_section3 .onecol_forty {
	width: 100%;
	margin: 0 0 50px 0;
}
.feature_section3 .onecol_sixty {
	width: 100%;
	margin: 0;
}
.feature_section3 .onecol_forty img.one {
	float: left;
	margin-top: 50px;
}
.feature_section3 .onecol_forty img.two {
	float: left;
	margin-right: 0px;
	margin-left: -70px;
	margin-top: 185px;
}

.feature_section4 .onecol_sixty{
	margin-top:50px;
}

}



@media only screen and (min-width: 640px) and (max-width: 767px){
/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}


.container {
	width: 590px;
	margin: auto;
}

.logo {
	width: 50%;
}
.menu_main {
	width: 93%;
	position: absolute;
}

.feature_section1 .one_third {
	width: 100%;
	margin: 0;
	padding: 70px 20px 45px 20px;
}

.feature_section2 .box-details {
	width: 96.6%;
}
.feature_section2 .box-details p {
	width: 90%;
	line-height: 18px;
}

.feature_section3 .onecol_forty {
	width: 100%;
	margin: 0 0 50px 0;
}
.feature_section3 .onecol_sixty {
	width: 100%;
	margin: 0;
}
.feature_section3 .onecol_forty img.one {
	float: left;
	margin-top: 50px;
}
.feature_section3 .onecol_forty img.two {
	float: left;
	margin-right: 0px;
	margin-left: -70px;
	margin-top: 185px;
}

.feature_section4 .onecol_sixty{
	margin-top:30px;
	margin-bottom:30px;
}
.feature_section4 .onecol_forty  {
	float:left;	
}
.feature_section4 .onecol_forty img.one {
	float: left;
	width:100%;
}

.newsletter .enter_email_input {
	width:100%;
}




h1 {
	font-size: 30px;
	line-height: 30px;
}
h2 {
	font-size: 23px;
	line-height: 27px;
}
h3 {
	font-size: 18px;
	line-height: 25px;
}
h4 {
	font-size: 16px;
	line-height: 25px;
}
.section_title1_1,
.section_title1_2 {
	font-size: 30px;
}
.feature_section4 h1 {
	font-size: 30px;
}


}


@media only screen and (min-width: 480px) and (max-width: 639px){

/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.container {
	width: 440px;
	margin: auto;
}

.logo {
	width: 57%;
}
.menu_main {
	width: 93%;
	position: absolute;
}

.feature_section1 .one_third {
	width: 100%;
	margin: 0;
	padding: 70px 20px 45px 20px;
}

.feature_section2 .box-details {
	width: 95.4%;
}
.feature_section2 .box-details p {
	width: 90%;
	line-height: 18px;
}


.section_title1_1 {
	line-height:32px;
	margin-bottom:30px;
}
.feature_section3 .onecol_forty img.one {
	float: left;
	margin-top: 0px;
}
.feature_section3 .onecol_forty img.two {
	float: left;
	margin-right: 0px;
	margin-left: -70px;
	margin-top: 145px;
}
.feature_section4 .onecol_sixty{
	float: left;
	margin-top:18px;
}
.feature_section4 .onecol_forty  {
	float:left;	
}
.feature_section4 .onecol_forty img.one {
	float: right;
	width:100%;
}
.newsletter .enter_email_input {
	width:100%;
}



h1 {
	font-size: 27px;
	line-height: 27px;
}
h2 {
	font-size: 21px;
	line-height: 25px;
}
h3 {
	font-size: 16px;
	line-height: 25px;
}
h4 {
	font-size: 16px;
	line-height: 25px;
}
.section_title1_1,
.section_title1_2 {
	font-size: 25px;
}
.feature_section4 h1 {
	font-size: 25px;
}


}





@media only screen and (max-width: 479px){

/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive,
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 0%;
	float: left;
}
.one_full,
.one_half,
.one_third,
.one_fourth,
.one_fifth,
.two_third,
.three_fourth,
.onecol_forty,
.onecol_sixty,
.onecol_thirtyfive,
.one_full_less,
.one_half_less,
.one_third_less,
.one_fourth_less,
.one_fifth_less,
.two_third_less,
.three_fourth_less,
.onecol_forty_less,
.onecol_sixty_less,
.onecol_thirtyfive_less {
	width: 100%;
	margin-bottom: 50px;
}
.last {
	margin-right: 0 !important;
	margin-bottom: 0 !important;
}

.logo {
	width: 75%;
}
.menu_main {
	width: 95%;
	position: absolute;
}

.container {
	width: 300px;
	margin: auto;
}
.feature_section1 .one_third {
	width: 100%;
	margin: 0;
	padding: 70px 20px 45px 20px;
}
.feature_section1 .one_third {
	width: 100%;
	margin: 0;
	padding: 70px 20px 45px 20px;
}

.feature_section2 .box-details {
	width: 93.2%;
}
.feature_section2 .box-details p {
	width: 90%;
	line-height: 18px;
}

.section_title1_1 {
	line-height:32px;
	margin-bottom:30px;
}
.feature_section3 .onecol_forty  {
	float:left;	
}
.feature_section3 .onecol_forty img.one {
	width:100%;
	float: right;
	margin-top:0px;
}
.feature_section3 .onecol_forty img.two {
	float: right;
	margin-right:60px;
	margin-top: 30px;
}
.feature_section4 .onecol_sixty{
	float: left;
	margin-top:30px;
}
.feature_section4 .onecol_forty  {
	float:left;	
}
.feature_section4 .onecol_forty img.one {
	float: right;
	width:100%;
}

.feature_section5 .peosays .box {
	padding: 25px 30px 30px 30px;
	font-size: 16px;
	line-height: 21px;
}

.newsletter .enter_email_input {
	width:100%;
}

h1 {
	font-size: 21px;
	line-height: 25px;
}
h2 {
	font-size: 21px;
	line-height: 25px;
}
h3 {
	font-size: 16px;
	line-height: 25px;
}
h4 {
	font-size: 16px;
	line-height: 25px;
}
.section_title1_1,
.section_title1_2 {
	font-size: 25px;
}
.feature_section4 h1 {
	font-size: 25px;
}


}
