/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search
	
2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
	

/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	width: 100%;
	float: left;
	margin: auto;
}
.container {
	width: 1170px;
	margin: auto;
}
.content_fullwidth {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
}
.content_fullwidth.less {
	padding: 0px 0px 90px 0px;
}
.content_fullwidth.less2 {
	padding: 75px 0px 90px 0px;
}
.content_fullwidth.less3 {
	padding: 75px 0px 30px 0px;
}
.content_left {
	float: left;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite.last {
	margin-right: 0;
}


/*-------------------*/
/*     columns    */
/*-------------------*/

.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	position: relative;
	margin-right: 4%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}
.onecol_forty {
	width: 40%;
}
.onecol_sixty {
	width: 56%;
}
.onecol_thirtyfive {
	width: 35%;
}


/*-----------------------------------*/
/*  Less Space Bitween Columns     */
/*-----------------------------------*/

.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 2%;
	float: left;
}
.one_full_less {
	width: 100%;
}
.one_half_less {
	width: 49%;
}
.one_third_less {
	width: 32%;
}
.one_fourth_less {
	width: 23.500%;
}
.one_fifth_less {
	width: 18.400%;
}
.two_third_less {
	width: 66%;
}
.three_fourth_less {
	width: 74.500%;
}
.onecol_forty_less {
	width: 40%;
}
.onecol_sixty_less {
	width: 58%;
}
.onecol_thirtyfive_less {
	width: 36.250%;
}
.last {
	margin-right: 0 !important;
}


/*------------------------*/
/*        Header     */
/*------------------------*/

/* Logo */
.logoopv1 {
	float: left;
	width: 25%;
	height: 90px;
	padding: 20px 0 0 0;
}
.menuopv1 {
	float: left;
	width: 75%;
	margin-top: 16px;
}

.slidermar37 {
	float: left;
}

/* page sections */
.onepage_sectionarea {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}
.onepage_section1 {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
}
.onepage_section2 {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}
.onepage_section3 {
	float: left;
	width: 100%;
	padding: 90px 0px 0px 0px;
}
.onepage_section4 {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}
.onepage_section5 {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}
.onepage_section6 {
	float: left;
	width: 100%;
	padding: 0px 0px 0px 0px;
}


/*-----------------------------
   FEATURE SECTIONS
------------------------------*/
/* features_section 1 */
.feature_section1 {
	float: left;
	width: 100%;
	text-align:center;
	padding: 0px 0px 0px 0px;	
}
.feature_section1 h1 {
	color: #727272;
	font-size: 45px;
	text-transform: none;
	font-weight: 100;
	line-height: 45px;
}


/* features_section 2 */
.feature_section2 {
	float: left;
	width: 100%;
	background: #272727;
	padding: 0px;
}
.feature_section2 .left {
	float: left;
	width: 50%;
	padding: 50px 75px 58px 58px;
	background: #fff;
	margin: 90px -5% 90px 5%;
	position: relative;
	z-index: 2;
}
.feature_section2 .left h1 {
	color: #727272;
	text-transform: none;
	font-weight: 100;
	margin-bottom: 25px;
}
.feature_section2 .left h3 {
	color: #727272;
	text-transform: none;
	font-weight: 300;
	margin-bottom: 20px;
}

.feature_section2 .right {
	float: left;
	width: 50%;
	position: relative;
	z-index: 1;
}
.feature_section2 .right img {
	display: block;
}

/* features_section 3 */
.feature_section3 {
	float: left;
	width: 100%;
	background: #2ecc71;
	padding: 90px 0px;
}
.feature_section3 h2 {
	color: #fff;
	font-size: 45px;
	text-transform: none;
	font-weight: 300;
	line-height: 45px;
	margin-bottom: 35px;
}
.feature_section3 h3 {
	color: #fff;
	text-transform: none;
	font-weight: 300;
}
.feature_section3 .box {
	float: left;
	width: 48%;
	background: #fff;
	text-align: center;
	padding: 40px 30px 35px 30px;
	margin-right: 4%;
}
.feature_section3 .box.last {
	margin-right: 0%;
}
.feature_section3 .box h4 {
	text-transform: uppercase;
}
.feature_section3 .box i {
	color: #ccc;
}


/* features_section 5 */
.feature_section5 {
	float: left;
	width: 100%;
	padding: 140px 0px 140px 0px;
	background-image: url(http://placehold.it/1920x900);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}
.feature_section5 h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 100;
	line-height:52px;
	text-transform:none;
	margin:0px;
}
.feature_section5 p {
	font-size:18px;
	font-weight:300;
	line-height:27px;
	color:#fff;
	padding-right:50px;
	padding-top:25px;
}


/*  featured section 6 */
.feature_section6 {
	float: left;
	width: 100%;
	text-align:center;
	background-color:#181818;
	padding:54px 0px 58px 0px ;
}
.feature_section6 .box1{
	width:22%;
	float:left;
}
.feature_section6 .box2{
	width:22%;
	float:left;	
}
.feature_section6 .box3{
	width:28%;
	float:left;
}
.feature_section6 .box4{
	width:28%;
	float:left;
}
.feature_section6 i {
	color: #FFF;
	font-size: 50px;
	margin-right: 14px;
	float:left;
	text-align:left;
}
.feature_section6 h4 {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight:bold;
	color: #fff;
	margin:0 auto;
	letter-spacing:normal;
	display:block;
	text-transform:none;
	padding-top:0px;
	text-align:left;
}
.feature_section6 h4 b {
	font-size: 14px;
	font-weight:normal;
	color: #fff;
	display: block;
}
.newsletter .enter_email_input {
	float: left;
	padding: 3px 0px 4px 20px;
	height: 55px;
	width: 76%;
	background: #fff;
	border: none;
	color: #999999;
	font-size: 14px;
}
.newsletter .input_submit {
	float: left;
	padding: 16px 16px;
	background-color: #2ecc71;
	border: 0px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.newsletter .input_submit:hover {
	color: #fff;
	cursor: pointer;
	background-color: #454545;
}



/*  copyrights */

.copyright_info {
	float: left;
	padding: 30px 0px 30px 0px;
	width: 100%;
	color: #999;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	background: #ffffff;
}


/*   footer social links    */

ul.footer_social_links {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.footer_social_links li {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 5px;
}
.footer_social_links li a i {
	width: 24px;
	height: 24px;
	text-align: center;
	border-radius: 100%;
	line-height: 24px;
	vertical-align: middle;
	background-color: #cccccc;
	color: #fff;
	transition: all 0.3s ease;
}
.footer_social_links li a i:hover {
	color: #fff;
	background-color: #727272;
}




/*  featured section 9 */
.feature_section9{
	float: left;
	width: 100%;
	text-align:center;
	padding:0px 0px 90px 0px;
}
.feature_section9 h2 {
	color: #727272;
	text-transform: none;
	font-weight: 100;
}
.feature_section9 p{
	font-size:16px;
	padding:25px 0px 50px 0px;
}
.feature_section9 .box01{
	background-color:#f3f3f3;
	padding-bottom:25px;
	text-align:left;
	transition: all 0.3s ease;
}
.feature_section9 h4{
	padding:18px 0px 0px 40px;
	text-align:left;
	font-weight: 300;
}
.feature_section9 b{
	font-size:13px;
	text-align:left;
	padding:20px 0px 0px 40px;
	font-weight:normal;
}
.feature_section9 .box02{
	background-color:#2ecc71;
	padding:0px 40px 0px 40px;
	text-align:center;
	color:#fff;
	transition: all 0.3s ease;
	height: 332px;
	display: table;
}
.feature_section9 .box02 div {
  display: table-cell;
  vertical-align: middle;
}
.feature_section9 h3{
	text-align:center;
	font-weight: 300;
	font-size:27px;
	line-height:30px;
	text-transform:none;
	color:#fff;
	margin-bottom:25px;
}
.feature_section9 em{
	font-size:13px;
	font-weight:normal;
	font-style:normal;
}
.feature_section9 .box03 {
	float: left;
	width: 100%;
	background: #3cbcd2;
	transition: all 0.3s ease;
}
.feature_section9 .box03 img {
	opacity: 0.1;
	float: left;
	width: 100%;
}
.feature_section9 .box03 .content{
	text-align: left;
	position: absolute;
	top: 120px;
}
.feature_section9 h1{
	font-size:30px;
	text-align:left;
	font-weight: 300;
	margin-bottom:15px;
	padding-left:40px;
	text-transform: none;
}

.feature_section9 .box01:hover {
	-webkit-box-shadow: 0px 0px 0px 10px rgba(46,204,113,1);
	-moz-box-shadow: 0px 0px 0px 10px rgba(46,204,113,1);
	box-shadow: 0px 0px 0px 10px rgba(46,204,113,1);
}
.feature_section9 .box02:hover {
	-webkit-box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
	-moz-box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
	box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
}
.feature_section9 .box03:hover {
	-webkit-box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
	-moz-box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
	box-shadow: 0px 0px 0px 10px rgba(39,39,39,1);
}











