/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search
	
2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
	
--------------------------------------------------------*/


/*----------------------------------------------------
	SITE MAIN STRUCTURE
------------------------------------------------------*/

.site_wrapper {
	width: 100%;
	margin: 0 auto 0 auto;
}
.container_full {
	width: 100%;
	float: left;
	margin: auto;
}
.container {
	width: 1170px;
	margin: auto;
}

.content_fullwidth {
	float: left;
	width: 100%;
	padding: 90px 0px 90px 0px;
}
.content_fullwidth.less {
	padding: 0px 0px 90px 0px;
}
.content_fullwidth.less2 {
	padding: 75px 0px 90px 0px;
}
.content_fullwidth.less3 {
	padding: 75px 0px 30px 0px;
}

.content_left {
	float: left;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.left_sidebar {
	float: left;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_right {
	float: right;
	width: 71%;
	padding: 0px 0px 0px 0px;
}
.right_sidebar {
	float: right;
	width: 25%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite {
	float: left;
	width: 47.5%;
	margin-right: 5%;
	padding: 0px 0px 0px 0px;
}
.content_halfsite.last {
	margin-right: 0;
}


/* columns */
.one_half, .one_third, .one_fourth, .two_third, .three_fourth, .one_fifth, .onecol_forty, .onecol_sixty, .onecol_thirtyfive {
	position: relative;
	margin-right: 4%;
	float: left;
}
.one_full {
	width: 100%;
}
.one_half {
	width: 48%;
}
.one_third {
	width: 30.650%;
}
.one_fourth {
	width: 22%;
}
.one_fifth {
	width: 16.800%;
}
.two_third {
	width: 65.350%;
}
.three_fourth {
	width: 74%;
}
.onecol_forty {
	width: 40%;
}
.onecol_sixty {
	width: 56%;
}
.onecol_thirtyfive {
	width: 35%;
}

/* Less Space Bitween Columns */
.one_half_less, .one_third_less, .one_fourth_less, .two_third_less, .three_fourth_less, .one_fifth_less, .onecol_forty_less, .onecol_sixty_less, .onecol_thirtyfive_less {
	position: relative;
	margin-right: 2%;
	float: left;
}
.one_full_less {
	width: 100%;
}
.one_half_less {
	width: 49%;
}
.one_third_less {
	width: 32%;
}
.one_fourth_less {
	width: 23.500%;
}
.one_fifth_less {
	width: 18.400%;
}
.two_third_less {
	width: 66%;
}
.three_fourth_less {
	width: 74.500%;
}
.onecol_forty_less {
	width: 40%;
}
.onecol_sixty_less {
	width: 58%;
}
.onecol_thirtyfive_less {
	width: 36.250%;
}

.last {
	margin-right: 0 !important;
	clear: right;
}


/*---------------------------------------------------
	HEADER
------------------------------------------------------*/

/* Logo */
#logo {
	float:left;
	display:block;
	width:100%;
	min-height: 50px;
	margin-top:5px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo1.png) no-repeat left top;
}

/* bigger logo? remove below comment */
/*#logo {
	float:left;
	display:block;
	width:100%;
	min-height: 100px;
	margin-top:0px;
	position: relative;
	text-indent:-999em;
	background:url(../images/logo.png) no-repeat left top;
	background-size: 100%;
}*/


/* header area adinationals */
.logo {
	float: left;
	width: 100%;
	margin-top: 5px;
}

.menu_main_full {
	float: left;
	width: 100%;
	z-index: 9999;
}

/* top navigations */
.top_header {
	float: left;
	width: 100%;
	height: 152px;
	background: #fff;
}
.top_header .left {
	float: left;
	width: 30%;
	padding: 14px 0px 0px 0px;
}
.top_header .right {
	float: left;
	width: 70%;
	padding: 30px 0px 0px 0px;
	text-align: right;
	font-size: 14px;
	color: #272727;
	font-weight: 600;
}
.top_header .right a.email {
	color: #272727;
	font-size: 14px;
	margin: 0px 18px;
	white-space: nowrap;
	transition: all 0.3s ease;
}
.top_header .right a.email i {
	font-size: 13px;
	margin-right: 3px;
}
.top_header .right i {
	font-size: 18px;
	margin-right: 3px;
}
.top_header .right a.email:hover {
	color: #ef4836;
}
.top_header .right a.but {
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	background: #ef4836;
	padding: 8px 18px;
	border-radius: 25px;
	transition: all 0.3s ease;
}
.top_header .right a.but:hover {
	color: #fff;
	background: #272727;
}


.section_title1_1{
	display: block;
	vertical-align: central;
	width: 50px;
	height: 2px;
	margin-top: 14px;
	margin-bottom: 24px;
	background-color: #ef4836;
	margin-right: auto;
	margin-left: auto;	
}




/* features_section 1 */
.feature_section1 {
	float: left;
	width: 100%;
	text-align: center;
	background-color: #fff;
	padding: 90px 0px 100px 0px;
	background-image: url(../images/site-img-02-5.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.feature_section1 .one_third {
	text-align: left;
}
.feature_section1 .one_fourthcon{
	width: 100%;
	background: #272727;
	text-align: center;
	margin-top: -43px;
	opacity: 0.9;
	font-family: 'Raleway', sans-serif;
	font-size:13px;
	font-weight:bold;
	text-transform:uppercase;
	color:#fff;
	padding:7px 35px;
	letter-spacing:0.5px;
}


/* features_section 2 */
.feature_section2 {
	float: left;
	width: 100%;
	text-align: center;
}
.feature_section2 .box {
	float: left;
	width: 100%;
}
.feature_section2 .box1 {
	float: left;
	width: 33%;
	background-position: right top;
	background-image: url(http://placehold.it/680x540);
	background-repeat: no-repeat;
	min-height: 540px;
}
.feature_section2 .box2 {
	float: left;
	width: 34%;
	background:#ef4836;
	padding:50px 30px 0px 55px;
	text-align:left;
	min-height: 540px;
}
.feature_section2 .box2 h2 {
	font-family: 'Raleway', sans-serif;
	font-size:27px;
	letter-spacing:normal;
	padding:15px 0px 0px 0px;	
}
.feature_section2 h2 em {
	font-family: 'Open Sans', sans-serif;
	color:#fff;
	font-size:16px;
	letter-spacing:normal;
	text-transform:none;
	padding:20px 0px 0px 0px;
	line-height:25px;
	font-style: normal;
	display: block;
	font-weight: normal;
}
.feature_section2 .conleft {
	float:left;
	padding-right:80px;
}
.feature_section2 .conleft li {
	font-family: 'Raleway', sans-serif;
	font-size:14px;
	color:#fff;
	font-weight:600;
	line-height:35px;
	text-transform:uppercase;
}
.feature_section2 .conleft li:before {
    content: "";
    line-height: 30px;
    width: 6px;
    height: 6px;
    background-color: #fff;
    float: left;
    margin: 12px 9px 0px 0px;
    border-radius: 50%;
}
.feature_section2 .box3 {
	float: left;
	width: 33%;
	background: #272727;
	padding: 115px 0px 0px 55px;
	text-align: left;
	min-height: 540px;
}
.feature_section2 .box3 h1 {
	font-family: 'Raleway', sans-serif;
	font-size:35px;
	font-weight:300;
	color:#fff;
	letter-spacing:normal;
	text-align:left;
	text-transform:uppercase;
	line-height:50px;
}
.feature_section2 .box3 h1 strong {
	font-weight: 700;
}


/* features_section 3 */
.feature_section3 {
	float: left;
	width: 100%;
	text-align: center;
	background-color: #fff;
	padding:90px 0px;
}
.feature_section3 .one_fourth {
	text-align: left;
}
.feature_section3 i {
	color: #ef4836;
	font-size: 22px;
	float: left;
	padding-right:16px;
	padding-top:2px;
	float:left;
}
.feature_section3 p {
	float: left;
	margin: 8px 0px 16px 0px;
}


/*  featured section 4 */
.feature_section4 {
	float: left;
	width: 100%;
	background: #272727;
	padding:0px 0px;
	text-align: center;
}


/*  featured section 5 */
.feature_section5 {
	float: left;
	width: 100%;
	background: #fff;
}
.feature_section5 .left {
	float: left;
	width: 50%;
	min-height: 450px;
	background: #f3f3f3;
}
.feature_section5 .left img {
	float: right;
}
.feature_section5 .right {
	float: left;
	width: 50%;
	padding: 85px 200px 80px 75px;
	background:#fff;
	text-align: left;
}
.feature_section5 h1 {
	font-weight:normal;
	color: #272727;
	margin:0 auto;
	text-transform:uppercase;
	letter-spacing:normal;
}


/*  featured section 6 */
.feature_section6 {
	float: left;
	width: 100%;
	background: #fff;
	border-bottom: 2px solid #f3f3f3;
}
.feature_section6 .left {
	float: left;
	width: 50%;
	background: #fff;
	padding: 85px 90px 80px 200px;
}
.feature_section6 .right img {
	float: left;
	margin-left: 75px;
}
.feature_section6 .right {
	float: left;
	width: 50%;
	background:#f3f3f3;
	min-height: 450px;
}
.feature_section6 h1 {
	font-weight:normal;
	color: #272727;
	margin:0 auto;
	text-transform:uppercase;
	letter-spacing:normal;	
}



/* features_section 7*/
.feature_section7 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 90px 0px 50px 0px;
	
}
.feature_section7 .left {
	float: left;
	width: 12%;
	margin-left: 80px;
}
.feature_section7 .left img.client_img {
	float: left;
	width: auto;
	margin:0 auto;
	border-radius: 100%;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #e9e9e9;
	background-position: center center;
	text-align: center;
	vertical-align: middle;
	margin-left: 100;
	padding-left: 0px;
}
.feature_section7 .left h5 {
	float: left;
	width: 100%;
	color: #272727;
	display: block;
	margin-top: 10px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: normal;
	text-align: left;
}
.feature_section7 .left h5 em {
	font-size: 12px;
	font-style: normal;
	color: #999;
	text-align: center;
	font-weight: 500;
}
.feature_section7 .right {
	float: left;
	width: 78%;
	text-align: left;
}
.feature_section7 .right .arrow_box {
	position: relative;
	background: #ffffff;
	border: 1px solid #e9e9e9;
	padding: 30px;
}
.feature_section7 .right .arrow_box:after,
.feature_section7 .right .arrow_box:before {
	right: 100%;
	top: 30%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.feature_section7 .right .arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 14px;
	margin-top: -14px;
}
.feature_section7 .right .arrow_box:before {
	border-color: rgba(233, 233, 233, 0);
	border-right-color: #e9e9e9;
	border-width: 15px;
	margin-top: -15px;
}


/* feature_section 8 */
.feature_section8 {
	float: left;
	width: 100%;
	text-align: center;
	padding: 18px 0px 75px 0px;
}
.feature_section8 h4{
	font-size: 18px;
	font-weight:200px;
	letter-spacing:normal;
}
.feature_section8 li {
	float: left;
	width: 16.66%;
	border-right: 1px solid #eee;
}
.feature_section8 li.last {
	border-right: none;
}
.feature_section8 span {
	color: #999;
	font-size: 35px;
	display: block;
	margin-bottom: 14px;
}
.feature_section8 li:hover span {
	color: #ee7164;
}


/* newsletter */
.newsletter {
	float: left;
	width: 100%;
	padding: 36px 0px 26px 0px;
	background: #ef4836;
}
.newsletter h2 {
	color: #fff;
	font-weight: 300;
	text-align: right;
}
.newsletter .one_half  {
	float: left;
	text-align:left;
}
.newsletter .one_half i {
	color: #fff;
	font-size: 42px;
	float: left;
	padding-right:20px;
}
.newsletter .one_half h5  {
	font-size:18px;
	font-weight:bold;
	text-align:left;
	margin-bottom:7px;
	letter-spacing:normal;
}
.newsletter .one_half span  {
	font-size:12px;
	text-align:left;
	line-height:25px;
	text-transform:none;
	display: block;
	font-weight: normal;
}
.newsletter .enter_email_input {
	float: left;
	padding: 3px 0px 4px 20px;
	height: 50px;
	width: 76%;
	background: #fff;
	border: none;
	color: #727272;
	font-size: 14px;
}
.newsletter .input_submit {
	float: left;
	padding: 13px 25px 14px 25px;
	background-color: #272727;
	border: 0px;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	text-transform: uppercase;
	transition: all 0.3s ease;
}
.newsletter .input_submit:hover {
	color: #fff;
	cursor: pointer;
	background-color: #454545;
}


/*----------------------------------------------------
 FOOTER STYLES
------------------------------------------------------*/

.footer {
	float: left;
	width: 100%;
	color: #bbb;
	padding: 90px 0px 0px 0px;
	background: #272727 url(http://placehold.it/1920x900) no-repeat center top;
}
.footer h4 {
	color: #fff;
	font-weight: 500;
	margin-bottom: 20px;
}

.twitter_feeds {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.twitter_feeds li {
	padding: 0px;
	margin: 0px;
	float: left;
}
.twitter_feeds li.bhline {
	padding-bottom: 22px;
	margin-bottom: 20px;
	border-bottom: 1px solid #727272;
}
.twitter_feeds li a {
	color: #bbb;
	transition: all 0.3s ease;
}
.twitter_feeds li a:hover {
	color: #fff;
}
.twitter_feeds li i {
	padding: 0px;
	margin: 0px 5px 0px 0px;
}
.twitter_feeds li em {
	float: left;
	font-size: 10px;
	font-style: normal;
	color: #727272;
}
.twitter_feeds li em a {
	color: #727272;
	transition: all 0.3s ease;
}
.twitter_feeds li em a:hover {
	color: #727272;
	text-decoration: underline;
}


/* Address */
ul.faddress {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.faddress li {
	padding: 2px 0px;
	margin: 0px;
}
.faddress li a {
	color: #bbb;
	transition: all 0.3s ease;
}
.faddress li a:hover {
	color: #fff;
}

/* flickr */
#flickr_badge_wrapper {
	padding: 0px;
	margin: 0px;
	width: 100%;
}
#flickr_badge_wrapper img {
	width: 70px;
	height: 70px;
	margin-right: 8px;
	margin-bottom: 2px;
	border: 0px solid #999 !important;
}
#flickr_www {
	display:block;
	padding:0 10px 0 10px !important;
}
#flickr_badge_uber_wrapper a:hover,
#flickr_badge_uber_wrapper a:link,
#flickr_badge_uber_wrapper a:active,
#flickr_badge_uber_wrapper a:visited {
	text-decoration:none !important;
	background:inherit !important;
	color:#3993ff;
}
#flickr_badge_wrapper {
	margin-top: 25px;
}
#flickr_badge_source {
	padding:0 !important;
}


/* quick links */
.qlinks {
	float: left;
	width: 100%;
}
.qlinks ul {
	float: left;
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.qlinks li {
	padding: 4px 0px;
	margin: 0px;
}
.qlinks li a {
	color: #bbb;
	transition: all 0.3s ease;
}
.qlinks li a:hover {
	color: #fff;
}
.qlinks li a i {
	margin-right: 3px;
}
.fbposts {
	float: left;
	width: 100%;
	margin-top: 10px;
}
.fbposts img {
	float: left;
	margin-right: 18px;
	transition: all 0.3s ease;
}
.fbposts a {
	float: left;
	color: #bbb;
	margin-bottom: 34px;
	transition: all 0.3s ease;
}
.fbposts a:hover {
	color: #fff;
}
.fbposts a:hover img {
	opacity: 0.7;
}

.ftags {
	float: left;
	width: 100%;
}
.ftags a {
	float: left;
	color: #eee;
	padding: 5px 10px;
	margin: 0px 5px 10px 5px;
	transition: all 0.3s ease;
	background: rgba(255, 255, 255, 0.4);
}
.ftags a:hover {
	color: #272727;
	background: rgba(255, 255, 255, 0.9);
}

.fform {
	float: left;
	width: 100%;
}


/* copyrights */
.copyright_info {
	float: left;
	padding: 30px 0px 25px 0px;
	margin: 75px 0px 0px 0px;
	width: 100%;
	color: #454545;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	background: #000;
}
.copyright_info a {
	margin-top: 10px;
	font-size: 12px;
	color: #454545;
	text-align: right;
	transition: all 0.3s ease;
}
.copyright_info a:hover {
	color: #999;
}


/* footer social links */
ul.footer_social_links {
	float: right;
	padding: 0px;
	margin: 0px 0px 0px 0px;
}
.footer_social_links li {
	float: left;
	padding: 0px;
	margin: 0px 0px 0px 5px;
}
.footer_social_links li a i {
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 100%;
	line-height: 24px;
	vertical-align: middle;
	background-color: #212121;
	color: #727272;
	transition: all 0.3s ease;
}
.footer_social_links li a i:hover {
	color: #fff;
	background-color: #454545;
}

/* google map */
.google_map1 {
	float: left;
	width: 100%;
	height: 280px;
	-webkit-filter: grayscale(100%);
       -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
         -o-filter: grayscale(100%);
            filter: grayscale(100%);
}








/* scroll up */
.scrollup{
    width:40px;
    height:40px;
    opacity:1;
    position:fixed;
    bottom:22px;
    right:20px;
    display:none;
    text-indent:-9999px;
    background: url(../images/scroll-top-arrow.png) no-repeat left top;
	z-index: 9001;
}


