/*-------------------------------------------------------
[Table of contents]

1. Header
	+ logo
	+ top navigation
	+ search
	
2. Content
	+ feature sections
	+ page title
	+ parallax backgrounds
	+ video backgrounds
	
3. Sidebar
	+ site search
	+ tabs
	+ portfolio widgets
	+ advertisements

3. Typography
	+ lists
	+ buttons
	+ styled boxes
	+ dropcaps
	+ highlight colors
	+ tables
	+ pricing tables
	+ framed boxes
	+ pagination
	
4. Footer
	+ copyrights
	+ google map
	

/*------------------------*/
/*        Header     */
/*------------------------*/
/* Logo */
#logo {
	float: left;
	display: block;
	width: 100%;
	min-height: 50px;
	margin-top: 12px;
	position: relative;
	text-indent: -999em;
	background: url(../images/logo1.png) no-repeat left top;
}
.logo {
	float: left;
	width: 25%;
	margin-top: 5px;
}
.menu_main {
	float: left;
	width: 75%;
	z-index: 9999;
}

/* top navigations */
.top_nav {
	float: left;
	width: 100%;
	background: #272727;
	color: #999;
	font-size: 13px;
}
.top_nav .left {
	float: left;
	width: 30%;
	padding: 12px 0px;
}
.top_nav .left i {
	color: #999;
}
.top_nav .left a {
	color: #999;
	margin-right: 25px;
}
.top_nav .left a:hover {
	color: #fff;
	transition: all 0.3s ease;
}
.top_nav .right {
	float: left;
	width: 70%;
	text-align: right;
}
.top_nav ul.topsocial {
	float: right;
	padding: 0px;
	margin: 0px 10px 0px 0px;
	padding: 12px 0px;
}
.top_nav .topsocial li {
	float: left;
	padding: 0px;
	margin: 0px 16px 0px 0px;
}
.top_nav .topsocial li a {
	float: left;
	color: #999;
	font-size: 13px;
	border-radius: 100%;
	text-align: center;
	vertical-align: middle;
	transition: all 0.3s ease;
	margin-right: 0px;
}
.top_nav .topsocial li a:hover {
	color: #fff;
}

.tpbut {
	float: right;
	color: #999;
	margin-left: 0px;
	padding: 12px 18px;
	border-right: 1px solid #454545;
	border-left: 1px solid #454545;
	transition: all 0.3s ease;
}
.tpbut:hover, .tpbut.active {
	color: #999;
	background: #f9f9f9;
}
.tpbut.two {
	border-right: 1px solid #454545;
	border-left: none;
}

.slidermar40 {
	margin-top: 0px;
}




/*  copyrights */
.copyright_info {
	background: #272727;
}
